<head>
    <title>Todo List</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<!--<body>
<div class="container" ng-app="simple-todos">

</div>
</body> -->
<body>
<div class="container">   <!-- ng-app="simple-todos" -->
    <todos-list></todos-list>
</div>
<footer class="page-footer pt-2">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col col-4 text-center">
                <a class="nav-link text-white" href="FAQ.html">FAQ</a>
            </div>
            <div class="col col-4 text-center">
                <a class="nav-link text-white" href="datenschutz.html">Datenschutz</a>
            </div>
            <div class="col col-4 text-center">
                <a class="nav-link text-white" href="impressum.html">Impressum</a>
            </div>
        </div>
    </div>
</footer>
</body>
