<header>
    <h1>Todo List</h1>
    <h2>Open Todos: {{$ctrl.incompleteCount}}</h2>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <label class="hide-completed">
        <input type="checkbox" ng-model="$ctrl.hideCompleted"/>
        Hide Completed Tasks
    </label>

    <login-buttons></login-buttons>

    <form class="new-task" ng-submit="$ctrl.addTask($ctrl.newTask)" ng-show="$ctrl.currentUser">
        <input ng-model="$ctrl.newTask" type="text" name="text" placeholder="Type to add new tasks"/>
    </form>
</header>

<ul>
    <li ng-repeat="task in $ctrl.tasks" ng-class="{'checked': task.checked, 'private': task.private}">
        <button class="delete  btn btn-danger" ng-click="$ctrl.removeTask(task)">DELETE</button>

        <input type="checkbox" ng-checked="task.checked" ng-click="$ctrl.setChecked(task)" class="toggle-checked"/>

        <span class="text">
        <strong>{{task.username}}</strong> - {{task.text}}
        </span>

        <button class="toggle-private btn btn-secondary" ng-click="$ctrl.setPrivate(task)" ng-show="task.owner === $ctrl.currentUser._id">
            {{task.private == true ? "Private" : "Public"}}
        </button>

    </li>
</ul>

